<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Empenos_Anderson.Properties.Settings.Base_EmpeñosConnectionString"
            connectionString="Data Source=DESKTOP-D1B8U5J;Initial Catalog=Base_Empeños;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>